$color-black: #000000;
$color-dark: #1E1E1E;
$color-light: #F7F7F7;
$color-blue: #1217FF;

$color-red: #ff7777;
$color-gray1: #b0b0b0;
$color-gray2: #4f4f4f;
$color-gray3: #333333;
$color-gray4: #8c8c8c;
$color-gray5: #737373;

//colors by function
$color-text: $color-light;
$color-bg: $color-dark;
$color-link: $color-light;
$color-link-hover: $color-blue;
$color-border: $color-dark;
$color-text-selection: $color-red;
$color-highlight: $color-light;

$color-notice: yellow;
$color-error: red;
$color-success: green;
