@font-face {
  font-family: 'Selador';
  src: url('/font/Selador-Regular.woff2') format('woff2'),
      url('/font/Selador-Regular.woff') format('woff'),
      url('/font/Selador-Regular.svg#Selador-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Karla');


//fonts by type
$font-family-selador: 'Selador', Helvetica, sans-serif;
$font-family-sans: 'Karla', Helvetica, sans-serif;
$font-family-mono: 'Space Mono', Helvetica;

//fonts by function
$font-family-base: $font-family-sans;
$font-family-h: $font-family-selador;
$font-family-mono: $font-family-mono;

//font dimensions
$font-size-mobile: 12px;
$font-size-default: 16px;
$font-lheight-default: 20px;

$font-sizes: (
  xxl: ceil($font-size-default * 3.75),
  xxl-mobile: ceil($font-size-default * 2.2),
  xl: ceil($font-size-default * 2),
  l: ceil($font-size-default * 1.3),
  m: $font-size-default,
  mm: $font-size-default,
  s: ceil($font-size-default * 0.75),
  xs: ceil($font-size-default * 0.5)
);

$font-weights: (
  light: 300,
  regular: normal,
  medium: 500,
  bold: bold
);

//font dimensions by function
$font-sizes-headings: (
  1: ceil($font-size-default * 2),
  2: ceil($font-size-default * 1.5),
  3: ceil($font-size-default * 1.4),
  4: ceil($font-size-default * 1.3),
  5: ceil($font-size-default * 1.2),
  6: ceil($font-size-default * 1.1)
);

$font-size-h: ceil($font-size-default * 2);
$font-size-text: $font-size-default;

$font-lheight-h: 1.4;
