<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
    <title>Spring Attitude Pollination</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but sa-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <svg xmlns="http://www.w3.org/2000/svg" class="u-visuallyhidden">
      <filter id="duotone">
        <feColorMatrix type="matrix" result="grayscale"
          values="1 0 0 0 0
                  1 0 0 0 0
                  1 0 0 0 0
                  0 0 0 1 0" >
        </feColorMatrix>
        <feComponentTransfer color-interpolation-filters="sRGB" result="duotone">
          <feFuncR type="table" tableValues="0 0.9137254902 1"></feFuncR>
          <feFuncG type="table" tableValues="0 0.4666666667 1"></feFuncG>
          <feFuncB type="table" tableValues="0 0.4666666667 1"></feFuncB>
          <feFuncA type="table" tableValues="0 0.5 1"></feFuncA>
        </feComponentTransfer> 
      </filter>        
    </svg>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
