<template>
  <section :data-bg="event['color']" :id="event['id']">
    <div class="l-container">
      <figure>
        <picture>
          <img :src="`img/${event['id']}.jpg`" data-anim="picture">
        </picture>
        <figcaption>
          <div class="col">
            <h4 data-anim="text">{{ event['date'] }} — {{ event['venue'] }}</h4>
            <h2 data-anim="text">{{ event['title'] }}</h2>
            <ul class="lineup">
              <li v-for="artist in event['lineup']" data-anim="text">{{ artist }}</li>
            </ul>
          </div>
          <div class="col-2">
            <p data-anim="text">{{ event['text'] }}</p>
            <div class="btns">
              <a :href="event['tickets']" target="_blank" class="btn" data-anim="text">Tickets</a>
              <a :href="event['facebook']" target="_blank" class="btn" data-anim="text">Fb event</a>
            </div>
          </div>

        </figcaption>
      </figure>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Event',

  props: ['event'],

  mounted() {

  }
}
</script>

<style lang="scss" scoped>
@import '../application';
section {
  padding: 120px 0;
  @include mq($until:sm) {
    padding: 60px 0;
  }
  figure {
    margin: 0;
    picture {
      overflow: hidden;
    }
    img {
      width: 100%;
      filter: url('#duotone');
      &:hover {
        filter: none;
      }
      @include mq($until:sm) {
        margin-left: -20px;
        width: calc(100% + 40px);
      }
    }
  }
  figcaption {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 120px;

    @include mq($until:sm) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      padding: 40px 0 0;
    }
    .col {
      grid-column: 1 / 4;
    }
    .col-2 {
      grid-column: 4 / -1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @include mq($until:sm) {
        margin: 30px 0 0;
        flex-direction: row;
      }

      p {
        flex: 1 0 0;

        @include mq($until:sm) {
          flex: 1 0 100%;
        }
      }
    }
    h4 {
      font-size: 1.5em;
      line-height: 1em;
    }
    h2 {
      color: $color-red;
      font-size: 2.5em;
      line-height: 1.2em;
      margin: 0 0 40px;
    }
    .lineup {
      font-family: $font-family-h;
      font-size: 1.6em;
      li {
        &:nth-child(even) {
          color: $color-gray1;
        }
      }
    }
  }
  .btn {
    display: inline-block;
    padding: 20px 30px;
    line-height: 1em;
    font-size: 1.75em;
    border: 2px solid $color-red;
    color: $color-red;
    font-family: $font-family-h;
    cursor: pointer;

    min-width: 170px;
    text-align: center;

    @include mq($until:sm) {
      min-width: 0;
      flex: 1 0 0;
      font-size: 1.5em;
      padding: 10px 20px;
    }

    &:hover, &:focus, &:active {
      color: $color-light;
      border-color: $color-light;
    }
  }
  .btns {
    margin: 60px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .btn + .btn {
      margin: 0 0 0 30px;
    }

    @include mq($until:sm) {
      flex: 1 0 100%;
      justify-content: space-between;
    }
  }
  &#siriusmo {
    figcaption {
      h2 {
        color: $color-gray3;
      }
      .lineup {
        li {
          &:nth-child(even) {
            color: $color-gray2;
          }
        }
      }
    }
    .btn {
      border: 2px solid $color-gray3;
      color: $color-gray3;
      &:hover, &:focus, &:active {
        color: $color-light;
        border-color: $color-light;
      }
    }
  }
  &#italian-night {
    figcaption {
      h2 {
        color: $color-black;
      }
      .lineup {
        li {
          &:nth-child(even) {
            // color: $color-gray4;
          }
        }
      }
    }
    .btn {
      border: 2px solid $color-black;
      color: $color-black;
      &:hover, &:focus, &:active {
        color: $color-light;
        border-color: $color-light;
      }
    }
  }
}
</style>
