<template>
  <section data-bg="#000000">
    <div class="l-container stay-tuned">
      <div>
        <h2 data-anim="text">Stay tuned</h2>
        <form action="http://h1h3h.mailupclient.com/frontend/subscribe.aspx">
          <input id="email" name="email" required="required" type="email" placeholder="inserisci la tua email"><br>
          <button name="submit" type="submit" value="true" data-anim="text">Invio</button>
          <input name="list" type="hidden" value="1">
        </form>  
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<style lang="scss" scoped>
@import '../application';

section {
  padding: 0 0 120px;
  @include mq($until:sm) {
    padding: 0 0 60px;
  }
}
.stay-tuned {
  text-align: center;
  color: $color-light;
  // min-height: calc( 50vh + 1px);
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 220px 0 0;

  @include mq($until:sm) {
    padding: 100px 0 0;
  }

  h2 {
    font-size: 3em;
    margin: 0 0 45px;
  }

  form {
    input {
      text-align: center;
      line-height: 20px;
      color: $color-gray1;
      font-family: $font-family-sans;
      line-height: 40px;
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 1px solid $color-gray1;
      background-color: transparent;
      padding: 0;
      margin-bottom: 20px;
    }
    button {
      display: inline-block;
      padding: 15px 30px;
      line-height: 1em;
      font-size: 1.75em;
      border: 2px solid $color-red;
      color: $color-red;
      background: transparent;
      font-family: $font-family-h;
      cursor: pointer;

      min-width: 120px;
      text-align: center;

      &:hover, &:focus, &:active {
        color: $color-light;
        border-color: $color-light;
      }
      border-radius: 0;
      -webkit-appearance: none;
    }
  }
}
</style>
