<template>
  <header>
    <div class="logo" data-anim="picture">
      <a href="#!" data-link="index"></a>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.02 175.85"><path d="M51.88 14.86a11.59 11.59 0 0 0-1.37-3.39 7.17 7.17 0 0 0-6-3 6.55 6.55 0 0 0-6.86 6.78 7.12 7.12 0 0 0 2.42 5.49c1.94 1.54 4.93 2.43 7.19 3.23a28.58 28.58 0 0 1 5.57 2.34c7.85 4.35 8.76 11.08 8.76 14.55a18.21 18.21 0 0 1-4.12 11.39 17.92 17.92 0 0 1-13.32 6.13 17 17 0 0 1-15.67-9.93 26.06 26.06 0 0 1-1.77-7.51h8.8a10.53 10.53 0 0 0 .4 3.23 8.73 8.73 0 0 0 8.16 5.65 11 11 0 0 0 3.47-.64 8.68 8.68 0 0 0 5.25-7.84 9.47 9.47 0 0 0-1.13-4.28c-2.26-3.95-7-4.84-10.9-6.29a20.36 20.36 0 0 1-4.28-2 14.62 14.62 0 0 1-7.37-13.11c0-8.89 6.62-15.67 15.42-15.67a15.38 15.38 0 0 1 13.73 8c.89 1.69 1.29 3.06 2 6.86zM48.08 119.33l22.94 56.52h-9.43l-6.22-16.47H32.98l-6.39 16.39h-9.37l23.25-56.44zm-12.19 32.06h16.56l-8.24-21.81-4.77 12.36zM0 87.05h88.02v4H0z" fill="#ffffff"/></svg>
    </div>
    <nav>
      <a v-for="event in events" :key="event['id']" :href="`#${event['id']}`" :data-link="event['id']" data-anim="text"> {{ event['date'] }} <span>— {{ event['venue'] }}</span></a>
    </nav>
  </header>
</template>

<script>
import { qs, qsa, viewportSize } from '@/scripts/utils';  

export default {

  name: 'Header',

  props: ['events', 'scrollbar'],

  mounted() {
    qsa('a', this.$el).forEach(el => {
      el.addEventListener('click', () => {
        event.preventDefault();
        const link = el.getAttribute('data-link');

        this.scrollbar.scrollIntoView(qs(`#${link}`));
      });
    });
  }

}
</script>

<style lang="scss" scoped>
@import '../application';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0 0;
  z-index: 2;

  mix-blend-mode: difference;

  @include mq($until:sm) {
    justify-content: space-between;
  }
}
.logo {
  height: 80px;
  position: relative;
  svg {
    width: auto;
    height: 100%;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    svg {
      path {
        fill: $color-red;
      }
    }
  }
}
nav {
  margin: 0 0 0 120px;
  flex: 1 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq($until:sm) {
    margin: 0;
    justify-content: flex-end;
    flex-direction: column
  }

  a {
    font-family: $font-family-h;
    font-size: 1.75em;
    text-transform: uppercase;
    line-height: 1em;
    text-align: right;
    span {
      color: $color-red;
    }

    @include mq($until:sm) {
      font-size: 1.65em;
    }
  }
}
</style>
