<template>
  <section id="index" bg-data="#000000">
    <div class="l-container">
      <h2 data-anim="text">5<span>/</span>12<span>/</span>26 Maggio 2018</h2>
      <h1 data-anim="text">Spring Attitude <br>Pollination</h1>
    </div>
    <div class="tree__wrapper" data-anim="picture">
      <div class="tree"></div>
    </div>
  </section>
</template>

<script>
import { qs } from '@/scripts/utils';
import Tree from '@/scripts/tree';

export default {
  name: 'Hero',

  mounted() {
    const tree = new Tree(qs('.tree'), this.$el);
    tree.init();
  }
}
</script>

<style lang="scss" scoped>
@import '../application';
section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.l-container {
  margin-bottom: 10vh;
  @include mq($until:sm) {
    margin-bottom: 20vh;
  }

}
h2 {
  color: $color-red;
  margin: 0 0 20px;
  font-size: 2em;
  span {
    color: $color-light;
  }
}
h1 {
  color: $color-light;
  font-size: 4em;
  line-height: 1.1em;
  font-weight: 400;
  margin: 0 0 40px;
} 
p {
  max-width: 450px;
} 
.tree {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: right;
  pointer-events: none;
  z-index: -1;
  transform-origin: 100% 100%;

  @include mq($until:lg) {
    transform: translate3d(10%, 0, 0) scale(0.95);
  }

  @include mq($until:sm) {
    transform: translate3d(-40%, 0, 0) scale(0.8);
    bottom: 0;
    top: auto;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
}
</style>
