<template>
  <div id="app">
    <Header :events="events" :scrollbar="scrollbar" />
    <div class="scrollbar">
      <Hero />
      <Event v-for="event in events" :key="event.id" :event="event" />
      <Footer />
    </div>
    <div class="bg"></div>
  </div>
</template>

<script>
import Scrollbar, { ScrollbarPlugin } from 'smooth-scrollbar';
import gsap from 'gsap';

import { qs, qsa, viewportSize, inViewport } from '@/scripts/utils';
import Dots from '@/scripts/dots';
import animations from '@/scripts/animations';

import Header from '@/components/Header';
import Hero from '@/components/Hero';
import Event from '@/components/Event';
import Footer from '@/components/Footer';

import * as events from '@/data/events';

export default {
  name: 'app',

  components: {
    Header,
    Hero,
    Event,
    Footer
  },

  data() {
    return {
      events: events,
      scrollbar: null,
      sections: null,
      animEls: [],
    }
  },

  mounted() {

    const bg = new Dots(qs('.bg', this.$el));
    bg.init();

    class DisableScrollPlugin extends ScrollbarPlugin {
      static pluginName = 'disableScroll';

      static defaultOptions = {
        direction: 'x',
      };

      transformDelta(delta) {
        if (this.options.direction) {
          delta[this.options.direction] = 0;
        }
        return { ...delta };
      }
    }

    Scrollbar.use(DisableScrollPlugin);

    const scrollbar = this.$el.querySelector('.scrollbar');
    this.scrollbar = new Scrollbar(scrollbar);

    //this.parallaxEls = Array.from(this.$el.querySelectorAll('[data-parallax]'));
    // this.animEls = Array.from(this.$el.querySelectorAll('[data-anim]'));

    this.sections = Array.from(this.$children);
    
    this.sections.forEach((el) => {
      if(qsa('[data-anim]', el.$el).length > 0) {
        const tempAnimEls = qsa('[data-anim]', el.$el);
        gsap.set(tempAnimEls, { autoAlpha: 0 });
        this.animEls.push(...tempAnimEls);
      }
    });

    this.fnAnimEls();

    this.scrollbar.addListener(this.scrollHandler.bind(this));
  },

  methods: {
    scrollHandler() {

      this.sections.forEach((el) => {
        if (this.scrollbar.isVisible(el.$el) && el.$el.hasAttribute('data-bg')) {
          const offsetEl = el.$el.getBoundingClientRect().top;

          if (offsetEl <= (viewportSize().y / 1.5)) {
            let color = el.$el.getAttribute('data-bg');
            if( this.scrollbar.scrollTop <= viewportSize().y) color = '#000000';
            animations.get('bg')(color, qs('.bg', this.$el));
          }

        }
      });

      this.fnAnimEls();
      // this.parallaxEls.forEach((el) => {
      //   if (this.scrollbar.isVisible(el)) {
      //     animations.get('parallax')(el);
      //   }
      // });
    },

    fnAnimEls() {
      this.animEls.forEach((animEl) => {
        const type = animEl.getAttribute('data-anim');

        if ((this.scrollbar.isVisible(animEl) || inViewport(animEl)) && !animEl.hasAttribute('data-animated')) {
          const offsetEl = animEl.getBoundingClientRect().top;

          if (offsetEl <= (viewportSize().y / 1.3)) {
            animEl.setAttribute('data-animated', '');

            animations.get(type)(animEl);
          }
        }
      });
    }
  },
};
</script>

<style lang="scss">

@import '/application';

#app, .scrollbar {
  height: 100vh;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -2;
  
  background: $color-black;
}

</style>
